* {
  margin: 0;
}

nav {
  padding: 1em !important;
}
.allStories {
  margin-top: 2em;
}
.hero-bg {
  width: 100%;
  clip-path: circle(60% at 50% 87%);
  background: transparent !important;
}
.hero-scrollingText {
  background-image: url(./blog-images/everest3.png);
  height: 130vh;
  width: 100%;
  background-attachment: fixed;
}
.heroInnerText {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10em;
  margin-top: 15em;
  color: #1d172e;
  font-family: "Times New Roman", Times, serif;
  background: transparent !important;
}
.heroInnerText h1 {
  font-size: 500%;
  background: transparent !important;
}

.heroInnerText h4 {
  font-size: 200%;
  letter-spacing: 1px;
  background: transparent !important;
}

.authorImage img {
  border-top-left-radius: 47%;
  border-top-right-radius: 47%;
  transform: scale(0.8);
}
.large-space {
  height: 2em;
}
.author-text {
  width: 60%;
  margin-left: 12em;
}
.readMore {
  border: #000 solid 1px;
}
.readMore:hover {
  background-color: rgb(48, 28, 48);
  color: #fff;
}
.larger-space {
  height: 6em !important;
}
.footer-note {
  padding-left: 11%;
  background-color: #bcafbd;
}
.social-icons i {
  margin: 2%;
  font-size: 150%;
}
.legal {
  background-color: #4f4768;
  color: #fff;
}
.footer-note input,
textarea {
  background-color: #bcafbd;
  color: #000;
  border: solid rgb(48, 47, 47);
}
.sub {
  border: #000 solid 1px;
}
.sub:hover {
  background-color: #4f4768;
  color: #fff;
}
.podacst-wrapper {
  padding: 0 8em !important;
}
.podcast {
  margin: 2em 0;
}
.podcasts img {
  border: 5px solid #c3b6e9;
  width: 300px;
}
.podcasts .podcast {
  width: 320px;
  margin-bottom: 3em;
}
.author-podcast {
  margin-top: 5em;
}
.author-podcast h1 {
  margin-top: -2em !important;
}
.podcast-image img {
  width: 320px;
  border: 5px solid #c3b6e9;
}
.blog-bio {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}
.about-text {
  margin-top: 1em;
  margin-bottom: 4em;
}
